@charset "UTF-8"; 


 /*----- Import fonts -----*/
@import url('https://fonts.googleapis.com/css2?family=Hind+Siliguri:wght@300;400;500;600;700&family=Outfit:wght@100..900&family=Red+Hat+Display:ital,wght@0,300..900;1,300..900&display=swap');


/*----- Root -----*/
:root { 
    --font-title: "Outfit";
    --font-text: "Hind Siliguri";

    --primary: #21a85e;
    --secondary: #66999B;
    --tertiary: #E9B44C;
    --dark: #2D3047;
    --light-bg: #F5F6FA;
}


/*----- General settings -----*/
* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    background-color: var(--light-bg);
}

/*----- Header -----*/
header {
    background-color: var(--dark);
    padding: 5px 30px;

    display: grid;
    grid-template-columns: minmax(50px, 170px) 1fr;
    grid-template-rows: 80px ;
    align-items: center;
}


/*----- Responsive media for phones -----*/
@media screen and (max-width: 700px){ 
    header {
        grid-template-columns: 1fr;
        grid-template-rows: 80px 80px;
        justify-items: center;
        padding-top: 10px;
    }

    menu {
        grid-row: 2 / 3;
    }

    
}

#logo-finmind {
    width: 140px;
    height: 70px;   
}

menu {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    gap: 30px;
}

nav {
    display: flex;
    align-items: center;
    gap: 30px;
}

nav a{
    font-family: var(--font-text);
    color: var(--light-bg);
    font-size: 17px;
    text-decoration: none;
    
    will-change: transform;
    backface-visibility: hidden;
    transform: scale(1);
    transition: transform 0.3s ease, box-shadow 0.3s ease, background-color 0.3s ease;
}

nav a:hover{
    color: var(--primary);

    transform: scale(1.1);
    
}


/*----- All buttons general settings -----*/
button {
    width: 130px;
    height: 50px;

    font-size: 17px;
    font-weight: 600;
    
    background-color: var(--primary);
    color: var(--light-bg);

    border: none;
    border-radius: 15px;
    outline: none;
    box-shadow: none;

    cursor: pointer;

    /*----- Clean transition settings ----- */
    will-change: transform;
    backface-visibility: hidden;
    transform: scale(1);
    transition: transform 0.3s ease, box-shadow 0.3s ease, background-color 0.3s ease;
}

button:hover {
    font-weight: 600;

    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);

    transform: scale(1.1);
}


/*----- Hero -----*/
section#hero {
    padding: 100px 100px 0px 100px;


    display: grid;
    grid-template-columns: minmax(350px, 783px) 1fr;
    grid-template-rows: 630px;
}

#flex-container-hero {
    display: flex;
    flex-flow: column;
    text-align: left;
    gap: 10px;
}

#flex-container-hero > h1, #flex-container-hero > p, #flex-container-hero > button {
    grid-column: 1 / 2 ;
    grid-row: 1 / 2;
}

#flex-container-hero > h1 {
    font-family: var(--font-title);
    font-weight: 400;
    font-size: 150px;
    line-height: 115px;
}

#flex-container-hero > p {
    max-width: 783px;
    margin-top: 50px;
    font-family: var(--font-title);
    font-size: 22px;
}

#flex-container-hero > button {
    width: 160px;
    height: 65px;
    margin-top: 50px;

    font-size: 19px;
}


img#phone {
    min-width: 500px;
    max-width: 700px;
    max-height: 600px;
    width: 100%;
    justify-self: center;
}


/*----- Features -----*/
#features {
    padding: 80px 100px 0px 100px;
    background-color: antiquewhite;

    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

div.feature-card {
    background-color: aliceblue;
}

div.feature-card > h2 {
    font-family: var(--font-title);
}

div.feature-card > p {
    font-family: var(--font-text);
}